<div class="navbar-brand header-logo">
  <a [routerLink]="['/dashboard/default/']" class="b-brand">
    <div class="b-bg" style="background: none">
      <img _ngcontent-c5="" src="https://aetris.in/assets/favicon-b5cd7a3224e78d5ac775f7823ad4d1caf6a6509aa59bd679f6d73557417d4e25.png" style="
      top: 10px;
      width: 40px;
  ">    </div>
    <span class="b-title">Aetris</span>
  </a>
  <a href="javascript:" class="mobile-menu" [ngClass]="{'on' : navCollapsed}" id="mobile-collapse" (click)="navCollapse()"><span></span></a>
</div>
