

<div class="col-md-12 m-b-30 stafftimesheet">
  




    <app-card cardTitle="" [options]="false">
  
  <div class="userauth">
    <img _ngcontent-c4="" _ngcontent-c5="" src="https://aetris.in/assets/favicon-b5cd7a3224e78d5ac775f7823ad4d1caf6a6509aa59bd679f6d73557417d4e25.png" alt="Aetris" style="width: 120px">
    <p class="nova header-col">Novastrid</p>
    <h4>Welcome You</h4>
    <a class="user-staff header-col">Staff 
        <i class="fa fa-angle-right" aria-hidden="true"></i>
    </a>
    <a class="user-staff header-col">Visitor
        <i class="fa fa-angle-right" aria-hidden="true"></i>
    </a>
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    <p class="powered">Powered by <a class="header-col">Aetris</a></p>
    </div>
   
    </app-card>
  </div>
  
